body {  
	background-color:#222;
}
#tabs{
	margin:10px 0;
	width:400px;
}
#tabs ul {
	list-style:none;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0px;
	position:
	relative;
	top:1px;
}
#tabs li {
  float:left;
  border:1px solid #444; 
  padding:5px 8px;
	cursor:pointer;
	border-bottom:none;
	margin-right:10px;
	font-family:verdana;
	font-size:.8em;
	font-weight:bold;
	color:#AAA;
}
#tabs .selected{
	background-color:#444;
	color:#EEE;
}
#tabs #tabContent div {
	padding:10px;
	color:#EEE;
	background-color:#444;
	overflow:hidden;
	width:93%;
}